@import '../../styles/variables.scss';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient($gradient_top, $gradient_bottom);
  padding: 50px 0;
  min-height: 100%;
}

.colonyList {
  width: 95%;
  max-width: 700px;
}