@import '../../styles/variables.scss';

.event {
    display: flex;
    justify-content: flex-start;
    height: 90px;
    padding: 20px 26px;
    background-color: white;
    border-radius: 6px;
    transition: background-color 300ms linear, transform 300ms linear;
    margin: 4px 0;
    box-shadow: 0 0 10px rgba(62, 118, 244, 0.14);
    &:hover {
        background-color: #f9f9f9;
        transform: translateX(5px);
        .avatar img {
            transform: rotate(10deg);
        }
    }
}

.avatar {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    img {
        border-radius: 50%;
        width: 37px;
        height: 37px;
        margin-right: 26px;
        transition: transform 300ms linear;
    }
}

.logInfo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    b {
        font-weight: 700;
    }
}

.primaryText {
    font-size: 14px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.logDate {
    font-size: 12px;
    color: #888;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}